 [Unit]
 Description=BrewDash TV
 After=multi-user.target

 [Service]
 Type=idle
 ExecStart=/home/pi/homebridge_web_switch/bin/start.sh
 Restart=on-failure

 [Install]
 WantedBy=multi-user.target
